body {
    font-family: 'Work Sans', sans-serif;
    background-color: #2C2529;
}
.navbar-custom {
    /* background-color: #772CE8; */
    /* background-color: #1D181B; */
    background-color: rgb(34, 29, 32);
}
.container-empty{
padding-top:100px;
}


.container-empty-30{
    padding-top:30px;
}

.container-empty-20{
    padding-top:20px;
}

.container-dark{
    color: white;
    text-align: center;
}

.container-brown{
    color: white;
    background-color:rgb(27, 25, 26) ;
    text-align: center;
}

/* html { font-size: 1rem; }

@media (min-width: 576px) {
    html { font-size:1.2rem; }
}
@media (min-width: 768px) {
    html { font-size:1.4rem; }
}
@media (min-width: 992px) {
    html { font-size: 1.5rem; }
}
@media (min-width: 1200px) {
    html { font-size:  2rem; }
} */